@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy Regular";
    src: url('/html/assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: "Gilroy Thin";
    src: url('/html/assets/fonts/Gilroy-Thin.ttf');
}

@font-face {
    font-family: "Gilroy Medium";
    src: url('/html/assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: "Gilroy Bold";
    src: url('/html/assets/fonts/Gilroy-Bold.ttf');
}

* {
    font-family: 'Gilroy Regular';
}

.fadeInOut-enter-active,
.fadeInOut-leave-active {
    transition: all 0.3s ease;
}

.fadeInOut-enter-from,
.fadeInOut-leave-to {
    opacity: 0;
}

.fadeInOut-enter-to,
.fadeInOut-leave-from {
    opacity: 1;
}

.zoomInOut-enter-active,
.zoomInOut-leave-active {
    transition: all 0.6s ease;
    transform-origin: center center;
}

.zoomInOut-enter-from,
.zoomInOut-leave-to {
    transform: scale(0) translate(-50%, -50%);
}

.zoomInOut-enter-to,
.zoomInOut-leave-from {
    transform: scale(1) translate(-50%, -50%);
}